.app {
  width: 450px;
  margin: 50px auto 0 auto;
  padding: 20px 40px;

  -webkit-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}

.app-logo {
  height: 48px;
}

.app-header {
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-desc {
  font-size: large;
}

.app-footer { 
  border-top: 1px solid #ccc;
  padding: 10px 0;
}